.top{
    display: flex;
    align-items: center;
    background-color: #2D3338;
    color: white;
    padding: 0;
}
.top > img {
    width: 50px;
}

.image{
    height: 130px;
    width: 100%;
    margin: 0;
    object-fit: cover;
}
.link{
text-decoration: none;
}

.links{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}